<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новий товар &ndash; в СільМазі</title>
</head>
<body>
<a data-th-href="@{/catalogue/products/list}">&larr; До списку товарів</a>
<h1>Новий товар</h1>
<div data-th-if="${errors}">
    <h2>Допущенні помилки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/catalogue/products/create}">
    <label>
        Назва: <br>
        <input type="text" name="title" data-th-value="${payload?.title}">
    </label><br>
    <label>
        Опис: <br>
        <textarea name="details" data-th-value="${payload?.details}"></textarea>
    </label>

    <button type="submit">Створити</button>
</form>
</body>
</html>